<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\path\to\python\python.exe|C:\path\to\python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\path\to\python\python.exe" arguments="C:\path\to\python\Lib\site-packages\wfastcgi.py" />
        </fastCgi>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="C:\websites\flashcard_app" />
    </appSettings>
</configuration>