{% extends 'template.html' %}

{% block content %}
<div class="container">
    <div class="side"></div>
    <div class="main">
        <h1>Questions</h1>
        <ul>
            {% for area in questions %}
            <a class="button"
                href="{{ url_for('question', area_id=area['area_id'], question_id=area['questions'][0]['question_id']) }}">
                <li>
                    {{ area['topic'] }}
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="side"></div>
</div>
{% endblock %}