<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="side"></div>
        <div class="main">
            <h1>Questions</h1>
            <ul>
                {% for area in questions %}
                <a class="button"
                    href="{{ url_for('question', area_id=area['area_id'], question_id=area['questions'][0]['question_id']) }}">
                    <li>
                        {{ area['topic'] }}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="side"></div>
    </div>
</body>

</html>